
@media only screen and (max-width: 780px) {
    #homecontent{
        
        margin-right: -200px;
    }
    #homep{
        display: none;
    }
    #weather{
        margin-bottom: 0px;
        height: 20px;
    }
    #button{
        margin-bottom: 10px;
    }
  }