.navbar{
  height: 80px;
  background-color: black;
}
.navlink{
    color: white;
    background-color: brown;
}
.navtext{
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.navtext :after{
  display: block;
  position: absolute;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '.';
  color: transparent;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: transparent;
}
.navtext:hover:after{
  -webkit-animation: circle 1.5s ease-in forwards;
}